/* https://data-deveb.github.io/
   https://data-deveb.github.io/0.css
   0.14 sürümü
*/

*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    display: flex;
    min-height: 100%;
    line-height: normal;
    font-size: 12pt;
}

[lang|="en"],
[lang|="ru"]{
    line-height: 1.15;
}

[lang|="ar"]{
    line-height: 1.20;
}

[lang|="tr"],
[lang|="el"]{
    line-height: 1.25;
}

body{
    margin: 0;
    min-width: 100%;
    min-height: 100%;
}


article{
    max-width: 85ch;
}

article p{
    text-indent: 3ch;
}

h1{
    font-size: 2.0rem;
}
h2{
    font-size: 1.6rem;
}
h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1.2rem;
}
h5{
    font-size: 1.1rem;
}
h6{
    font-size: 1.0rem;
}

h1, h2, h3, h4, h5, h6{
    margin-block-end: 0;
}
