/* https://data-deveb.github.io/
   https://data-deveb.github.io/0.css
   0.131 sürümü
*/

*{
    box-sizing: border-box;
}

html{
    line-height: normal;
    font-size: 12pt;
}

[lang|="en"],
[lang|="ru"]{
    line-height: 1.15;
}

[lang|="ar"]{
    line-height: 1.20;
}

[lang|="tr"],
[lang|="el"]{
    line-height: 1.25;
}

body{
    margin: 0;
}

h1{
    font-size: 2.0rem;
}
h2{
    font-size: 1.6rem;
}
h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1.2rem;
}
h5{
    font-size: 1.1rem;
}
h6{
    font-size: 1.0rem;
}

article p{
    text-indent: 4ch;
}