/* https://data-deveb.github.io/
   https://data-deveb.github.io/0.css
   0.12 sürümü
*/

*{
    box-sizing: border-box;
}

html{
    line-height: normal;
}

[lang|="en"],
[lang|="ru"]{
    line-height: 1.15;
}

[lang|="ar"]{
    line-height: 1.20;
}

[lang|="tr"],
[lang|="el"]{
    line-height: 1.25;
}

body{
    margin: 0;
}